@tailwind base;
@tailwind components;
@tailwind utilities;


/* .dark  {
  background-color: #292B32;
  color: #FFFFFF;
}

.light  {
  color: #000;
  background-color: #F7F7F8;
} */

body {
  color: #000;
  background-color: #F7F7F8;
}

[data-theme="dark"] body {
  background-color: #292B32;
  color: #FFFFFF;
}

card{
  background-color: #FFFFFF;
  filter: drop-shadow(0 8px 16 rgba(0,0,0,0.05));
}

[data-theme="dark"] card {
  background-color: #3B3E47;
  filter: drop-shadow(0 8px 16 rgba(0,0,0,0.05));
}

.score{
  background-color: #F7F7F8;
}

[data-theme="dark"] .score{
  background-color: #292B32;
}


.scoreH{
  color:#525965;
}


[data-theme="dark"] .scoreH{
  color:#DFDFDF;
}


[data-theme="dark"] .collection{
  background-image: linear-gradient(#18282A,#221A2C);
}

ticket{
  background-color: #FFFFFF;
  color:#000000;
}

[data-theme="dark"] ticket{
  background-color: #818A97;
  color:#FFFFFF;
}